@model Web.Models.ViewModels.PageViewModel<Web.Models.Pages.ArticlePage>

<div class="article-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 article-page-center">
                @if (Model.CurrentPage.Image != null)
                {
                    <img class="img-responsive" src="@Model.CurrentPage.Image.ImageUrl" alt="Chania">
                }
                <div class="article-page-heading">
                    <h1>@Model.CurrentPage.Heading</h1>
                </div>
                <div class="article-page-startpublish">
                    @if (Model.CurrentPage.StartPublish != null)
                    {
                        <span>@Model.CurrentPage.StartPublish.Value.ToString("yyyy-MM-dd")</span>
                    }
                    else
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @{Html.RenderPartial("SocialMedia", Model);}
                </div>
                @if (Model.CurrentPage.Ingress != null)
                {
                    <div class="article-page-ingress">
                        @Model.CurrentPage.Ingress
                    </div>
                }
                @if (Model.CurrentPage.MainBody != null)
                {
                    <div class="article-page-main-body">
                        @Model.CurrentPage.MainBody
                    </div>
                }
                @if (Model.CurrentPage.Code1Heading != null)
                {
                    <div class="code-heading">
                        <strong>@Model.CurrentPage.Code1Heading</strong>
                    </div>
                }
                @if (Model.CurrentPage.Code1 != null)
                {
                    <div class="code">
                        <pre class="@Model.CurrentPage.Code1Decode">
                        <code class="@Model.CurrentPage.Code1Decode">
                                 @Model.CurrentPage.Code1
                            </code>
                         </pre>
                    </div>
                }    
                @if (Model.CurrentPage.Code2Heading != null)
                {
                    <div class="code-heading">
                        <strong>@Model.CurrentPage.Code2Heading</strong>
                    </div>
                }
                @if (Model.CurrentPage.Code2 != null)
                {
                    <div class="code">
                        <pre class="@Model.CurrentPage.Code2Decode">
                            <code class="@Model.CurrentPage.Code2Decode">
                                <!--language-csharp-->
                                @Model.CurrentPage.Code2
                            </code>
                        </pre>
                    </div>
                }
                @if (Model.CurrentPage.Code3Heading != null)
                {
                    <div class="code-heading">
                        <strong>@Model.CurrentPage.Code3Heading</strong>
                    </div>
                }
                @if (Model.CurrentPage.Code3Heading != null)
                {
                    <div class="code">
                        <pre class="@Model.CurrentPage.Code3Decode">
                        <code class="@Model.CurrentPage.Code3Decode">
                            @Model.CurrentPage.Code3
                        </code>
                    </pre>
                    </div>
                }
                <br />
                <br />
                <img src="~/Static/img/signature.png" class="article-page-signature" />
            </div>
        </div>
    </div>
</div>