@using Newtonsoft.Json

@model Web.Models.ViewModels.PageViewModel<Web.Models.Pages.RssNewsPage>


<div class="news-page" ng-controller="RssNewsController" ng-init="init(@JsonConvert.SerializeObject(@Model.CurrentPage.RssItemList), @JsonConvert.SerializeObject(@Model.CurrentPage.SourceSupplier))">
    <div class="container">
        <div class="row">
            <div class="main-text">
                <h1>@Model.CurrentPage.Heading</h1>
                @Model.CurrentPage.Ingress
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12" ng-repeat="newsItem in newsItemList">
                <div class="news-item">
                    <a class="no-underline" target="_blank" href="{{newsItem.link}}">
                        <div class="news-picture" ng-bind-html="newsItem.image | unsafe"></div>
                        <div class="news-item-text-container">
                            <h4 class="news-item-title">{{newsItem.title}}</h4>
                            <div class="news-item-description">{{newsItem.description}}</div>
                            <div class="news-item-date">{{newsItem.publicationDate}}</div>
                            <div class="news-item-read-more">
                                Läs mer
                            </div>
                        </div>
                    </a>
                    @*</a>*@
                </div>
            </div>
        </div>
    </div>
    @*<div class="pager">
            <ul ng-if="pager.pages.length">
                <li ng-repeat="page in pager.pages">
                    <a ng-click="setListPage(page)" ng-class="pager.currentPage === page ? 'selected' : ''">{{page}}</a>
                </li>
            </ul>
        </div>*@
</div>