@model Web.Models.ViewModels.IPageViewModel<KalikoCMS.Core.CmsPage>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h6>Sitemap</h6>
                <ul class="footer-menu">
                    <li><a target="_self" href="#">Artiklar</a></li>
                    <li><a target="_self" href="#">Foton</a></li>
                    <li><a target="_self" href="#">Nyheter</a></li>
                    <li><a target="_self" href="#">Sidor</a></li>
                    <li><a target="_self" href="#">Gadgets</a></li>
                    <li><a target="_self" href="#">Diverse</a></li>
                    @*@if (Model.Layout.TopMenuPages != null)
                    {
                        foreach (var page in Model.Layout.TopMenuPages)
                        {
                            <li class="@(page.PageLink.ID == Model.CurrentPage.PageLink.ID ? "selected" : "")">
                                <a href="@Url.PageUrl(page.LinkURL)" title="@page.PageName">@page.PageName</a>
                            </li>
                        }
                    }*@

                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h6>Kontakt</h6>
                <p>
                    Elmberg development<br />
                    Kungsgatan 38b, 211 49 Malmö<br />
                    <a href="mailto:kalle.elmberg@gmail.com">kalle.elmberg@gmail.com</a>
                </p>
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/kalle.elmberg" class="facebook" title="Facebook" target="_blank"></a></li>
                    @*<li><a href="https://www.youtube.com/user/strfilm" class="youtube" title="Youtube" target="_blank"></a></li>*@
                    <li><a href="https://www.linkedin.com/in/karlelmberg/" class="linkedin" title="LinekdIn" target="_blank"></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h6>Mina sidor</h6>
                @*@if (Model.Layout.LoggedIn)
                {
                    <ul class="footer-menu">
                        <li><a href="/min-sida/matrikel/">Matrikel</a></li>
                        <li><a href="/min-sida/blanketter/">Blanketter</a></li>
                        <li><a href="/min-sida/medlemsformaner/">Medlemsförmåner</a></li>
                        <li><a href="/min-sida/mina-installningar/">Mina inställningar</a></li>
                        <li><a href="/globalassets/startsidan/teamviewerqs_sv.exe/">Fjärrsupport</a></li>
                        <li><a href="/helpdesk">Fjärrsupport</a></li>
                    </ul>
                    <ul class="footer-menu">
                        <li><a href="/Logout/logout">Logga ut</a></li>
                    </ul>
                }*@
                @*else
                {
                    if (!Model.Layout.IsInReadonlyMode)
                    {
                        <a class="btn btn-default" href="@Model.Layout.LoginUrl" title="@Html.Translate("/footer/login")">@Html.Translate("/footer/login")</a><br /><br />
                        <ul class="footer-menu">
                            <li><a href="/helpdesk">Fjärrsupport</a></li>
                        </ul>
                    }
                }*@
            </div>
        </div>
    </div>
</div>