@using KalikoCMS
@using KalikoCMS.Core
@model Web.Models.ViewModels.IPageViewModel<KalikoCMS.Core.CmsPage>

<div class="device-header">
    <div class="container">
        <a href="/" class="logo"><img src="/static/img/logo.svg"></a>
        <div class="float-right">
            <button class="navbar-toggle" id="show-device-menu" type="button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</div>

<div class="device-header-menu">
    <ul class="list-parent">
        @foreach (PageMenuItem menuItem in Model.TopMenu)
        {
            <li>
                <a href="@Url.ContentUrl(menuItem.LinkURL)" title="">@menuItem.Name</a>
                @if (menuItem.SubPages != null)
                {
                    <span class="sub-items-toggler @menuItem.CssClassCollapsed" data-toggle="collapse" href="#subnav_@menuItem.Id" role="button" aria-expanded="true" aria-controls="subnav_@menuItem.Id"><div class="faq-caret"><div class="cross"></div></div></span>
                }
                <ul id="subnav_@menuItem.Id" class="collapse @menuItem.CssClassShow" data-parent=".list-parent">
                    @if (menuItem.SubPages != null)
                    {
                        foreach (PageMenuItem subMenuItem in menuItem.SubPages)
                        {
                            <li>
                                <a class="list-item" href="@Url.ContentUrl(subMenuItem.LinkURL)" title="">@subMenuItem.Name</a>
                                @if (subMenuItem.SubPages != null)
                                {
                                    <span class="sub-items-toggler @subMenuItem.CssClassCollapsed" data-toggle="collapse" href="#subnav_@subMenuItem.Id" role="button" aria-expanded="true" aria-controls="subnav_@subMenuItem.Id"><div class="faq-caret"><div class="cross"></div></div></span>
                                }
                                <ul id="subnav_@subMenuItem.Id" class="collapse @subMenuItem.CssClassShow" data-parent="">
                                    @if (subMenuItem.SubPages != null)
                                    {
                                        foreach (PageMenuItem sub2LevelMenuItem in subMenuItem.SubPages)
                                        {
                                            <li>
                                                <a class="list-item" href="@Url.ContentUrl(sub2LevelMenuItem.LinkURL)" title="">@sub2LevelMenuItem.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </li>
        }
    </ul>
    <div class="sub-nav-mobile">
        <a href="@Model.Layout.EducationCompanySearchActionUrl" class="btn btn-secondary">HITTA UTBILDARE</a>
        <br />
        <br />
        <div class="container">
            <a href="@Model.Layout.SearchPageActionUrl" class="btn btn-secondary full-width">SÖK</a>
        </div>
        <ul class="external-links">
            <li><a href="http://butik.str.se/" target="_blank">e-handel</a></li>
            <li><a href="https://www.gatusmartast.se/" target="_blank">gatusmartast.se</a></li>
            <li><a href="http://www.korkort.nu/" target="_blank">korkort.nu</a></li>
            <li><a href="@Model.Layout.ECommercePageActionUrl" class="epi">E-handel</a></li>
            <li><a href="@Model.Layout.AboutUsPageActionUrl" class="epi">Om oss</a></li>
        </ul>
    </div>
</div>