@using Web.Business.Extensions
@using Web.Models.Pages
@model Web.Models.ViewModels.PageViewModel<Web.Models.Pages.ControlPanelPage>


<div class="control-panel-page">
    <div class="container">
        <div class="row">
            <div class="main-text">
                <h1>@Model.CurrentPage.Heading</h1>
                @Model.CurrentPage.Ingress
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="control-panel-page-panel">
                    <div class="panel-links-heading">
                        <img src="~/Static/img/google.png" />
                    </div>
                    <div class="panel-link-container">
                        @foreach (var pageLink in Model.CurrentPage.ControlPanelLinkPageList)
                        {
                            if (pageLink.Type.ToString() == "Google")
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <a class="no-underline" target="_blank" href="@pageLink.ExternalUrl">
                                        <div class="control-panel-link-item">
                                            @*<div class="control-panel-link-item-image"><img src="@pageLink.Image" /></div>*@
                                            <div class="control-panel-link-item-image">
                                                @*<img src="~/Static/img/ga_analytics_small.png" />*@
                                                <img src="@pageLink.Image" />
                                            </div>
                                            <div class="control-panel-link-item-text">
                                                @pageLink.Heading                                                
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="control-panel-page-panel">
                    <div class="panel-links-heading">
                        <img src="~/Static/img/microsoft.png" />
                    </div>
                    <div class="panel-link-container">
                        @foreach (var pageLink in Model.CurrentPage.ControlPanelLinkPageList)
                        {
                            if (pageLink.Type.ToString() == "Microsoft")
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <a class="no-underline" target="_blank" href="@pageLink.ExternalUrl">
                                        <div class="control-panel-link-item">
                                            @*<div class="control-panel-link-item-image"><img src="@pageLink.Image" /></div>*@
                                            <div class="control-panel-link-item-image">
                                                @*<img src="~/Static/img/ga_analytics_small.png" />*@
                                                <img src="@pageLink.Image" />
                                            </div>
                                            <div class="control-panel-link-item-text">
                                                @pageLink.Heading                                                
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>